@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");
body {
  border: 0;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-family: "Sofia Pro"; }

html {
  overflow-x: hidden !important;
  width: 100%;
  height: 100%;
  position: relative;
  text-rendering: optimizeLegibility; }

ul,
ul li,
ul li a {
  padding: 0;
  margin: 0;
  list-style: none; }

a:link,
a:visited {
  text-decoration: none; }

/*common section padding */
.hdsection-padding {
  padding: 100px 0; }

/* common button */
.jkhdbtn {
  min-height: 48px;
  line-height: 48px;
  background: #c26046;
  font-family: "Sofia Pro";
  font-weight: normal;
  font-size: 14px;
  color: #fff;
  padding: 0 35px;
  border: 1px solid #c26046;
  display: inline-block;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease; }
  .jkhdbtn:focus {
    outline: none;
    border: 1px solid transparent; }
  .jkhdbtn:hover {
    background: transparent;
    color: #c26046; }

/* input field */
.input {
  font-family: "Sofia Pro";
  font-weight: normal;
  font-size: 16px;
  color: #887f7c;
  min-height: 58px;
  line-height: 58px; }
  .input:focus {
    outline: none;
    box-shadow: none;
    border: none; }

/* common section title */
.hdsectitle {
  text-align: center;
  margin-bottom: 70px; }
  .hdsectitle .subtitle {
    font-family: "Sofia Pro";
    font-weight: normal;
    font-size: 14px;
    color: #c26046;
    margin-bottom: 20px; }
  .hdsectitle .title {
    font-family: "Playfair Display";
    font-weight: bold;
    font-size: 36px;
    color: #291914;
    position: relative;
    display: inline-block; }
    .hdsectitle .title:after {
      content: "";
      position: absolute;
      bottom: -20px;
      left: 0;
      width: 100px;
      height: 2px;
      background: #c26046;
      right: 0;
      margin: auto; }

/* common blog */
.blog-card {
  position: relative;
  background-color: #fff;
  margin-bottom: 25px; }
  .blog-card .card-img img {
    width: 100%; }
  .blog-card .card-info {
    padding: 20px 30px 15px; }
    .blog-card .card-info .info-date {
      font-family: "Sofia Pro";
      font-weight: normal;
      font-size: 12px;
      line-height: 30px;
      display: inline-flex;
      margin-bottom: 20px;
      color: #c26046;
      align-items: center; }
      .blog-card .card-info .info-date img {
        margin-right: 10px; }
    .blog-card .card-info h3,
    .blog-card .card-info a {
      font-family: "Sofia Pro";
      font-weight: 500;
      font-size: 24px;
      line-height: 30px;
      color: #291914;
      margin-bottom: 20px;
      transition: all 0.4s ease;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -ms-transition: all 0.4s ease; }
      .blog-card .card-info h3:hover,
      .blog-card .card-info a:hover {
        color: #c26046; }
    .blog-card .card-info p {
      font-family: "Sofia Pro";
      font-weight: 300;
      font-size: 16px;
      line-height: 26px;
      color: #584c48;
      margin-bottom: 0; }
  .blog-card .card-btn {
    padding: 0 30px 20px; }
    .blog-card .card-btn .detailsbtn {
      font-family: "Sofia Pro";
      font-weight: bold;
      font-size: 14px;
      line-height: 30px;
      color: #c26046;
      display: inline-block; }

/* end common blog */

/*# sourceMappingURL=base.css.map */
